* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: #000927;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffffff
}

.header {
	&__wrapper {
		margin: 0 auto;
	}
}

.menu {
	max-width: 1213px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.logo {
		margin: 19px 55px 0 45px;
	}
	.nav {
		width: 787px;

		&__list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	.phones {
		margin-left: auto;
		
		a {
			display: block;
		}
	}
}

.slider {
	width: 1085px;
	margin: 3px auto 46px;
}

.categories {
	height: 72px;

	display: flex;
	align-items: center;

	background-color: #F6F3FF;

	&__list {
		width: 1109px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;

		a {
			color: #222831;
		}

		a::after {
			content: "";

			width: 8px;
			height: 8px;
			margin-left: 4px;

			display: inline-block;

			background: url(img/nav-arrow.svg);
		}
	}
}

.catalogs {
	&__heading {
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
	}
}

.figure__stroi {
	background-image: url('/img/Rectangle 4.svg');
	width: 365px;
	height: 305px;
	margin-left: 205px;

	&__heading {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0 0 10px;
	}

	&__number{
		font-family: Saira;
		font-size: 144px;
		margin: 0;
		
		margin-left: 30px;
		color: #E7DEFF;
		line-height: 160px;

	}
	&__text {
		color: #E7DEFF;
		font-size: 24px;
		margin-top: 0;
		margin-left: 50px;

	}
}

.stroi__text-wrapper {
	max-width: 630px;
}

.figure__balterio{
	background-image: url('/img/Rectangle 4 (2).svg');

}