*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000927;
	
	font-family: 'Roboto', Arial, sans-serif;
}

// вотермарка
.water {
	text-align: center;
	color: #16151f;
	background-color:#696e8f;
	margin-top: 60px;
	padding: 20px;

}

// хедер

.header {
	a:hover {
		color: #7485BA;
	}
}

.menu {

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	a {
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
	}
}

.logo {
	margin: 19px 80px 30px 100px;
	height: 90px;
	width: 90px;
}

.nav {
	
	font-family: 'Roboto Condensed', Arial, sans-serif;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		list-style: none;

		li {
			margin-right: 70px;
			white-space: nowrap;
		}
		a:hover {
			color:#4b5d9b;
		}
	}
}

.phones {
	margin-left: auto;
	margin-right: 150px;
	white-space: nowrap;
	
	a {
		display: block;
	}
}

.slider {
	width: 1085px;

	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 46px;
}

.categories {
	height: 72px;

	display: flex;
	align-items: center;

	background-color: #F6F3FF;

	&__list {
		width: 1109px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;

		list-style: none;

		a {
			color: #222831;
			font-size: 18px;
			text-decoration: none;
		}

		a::after {
			content: "";

			width: 8px;
			height: 8px;
			margin-left: 4px;

			display: inline-block;

			background: url(img/nav-arrow.svg);
		}
		a:hover {
			color: #7e7e8d;
		}
	}
}

// Главная - Каталоги

.catalogs {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 100px;
	color: #ffffff;
	
	&__heading {
		margin-top: 29px;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		
		width: 1048px;
		margin-top: 80px;
		align-items: center;
		justify-content: space-between;
	}

	&__p {
		line-height: 30px;
		margin-top: 5px;
		font-size: 18px;
	}
}

.balterio__wrapper {margin-top: 30px;}

.figure__stroi {
	background-image: url('img/catalog1.svg');
	width: 365px;
	height: 305px;
	

	&__heading {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0 0 10px;
	}

	&__number{
		font-family: Saira;
		font-size: 144px;
		margin: 0;
		
		margin-left: 30px;
		color: #E7DEFF;
		line-height: 160px;

	}
	&__text {
		color: #E7DEFF;
		font-size: 24px;
		margin-top: -15px;
		margin-left: 50px;

	}
}

.stroi {

	&__text-wrapper {
		margin-left: 55px;
		max-width: 630px;
		}
	
}

.balterio__text{
	max-width: 730px;
	margin-left: auto;
}
.figure__balterio{
	background-image: url('img/catalog2.svg');
	width: 290px;
	height: 310px;
	margin-left: 55px;

	&__heading {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0 0 10px;
	}

	&__number{
		font-family: Saira;
		font-size: 144px;
		margin: 0;
		
		margin-left: -33px;
		color: #E7DEFF;
		line-height: 160px;
	}
	&__text {
		color: #E7DEFF;
		font-size: 24px;
		margin-top: -15px;
		margin-left: 70px;

	}

}

// Главная - Новости

.news {
	max-width: 1096px;
	margin: 0 auto;
	margin-bottom: 65px;

	color: #ffffff;

	&__heading {
		margin-top: 60px;
		margin-bottom: 50px;

		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__list {
		list-style: none;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 306px;
		margin-bottom: 109px;

		p {
			font-size: 18px;
			line-height: 25px;
			color: #ffffff;
			margin-top: 20px;
			margin-bottom: 10px;
			
		}
		
		a {

			
			font-size: 18px;
			line-height: 25px;
			color: #7485BA;
			text-decoration: none;
			margin-top: 20px;
		}

		a:hover {
			color: #ffffff;
		}
	}

	&__item:nth-last-child(-n+3) {
		margin-bottom: 65px;
	}

	&__bordered {
		width: 290px;
		height: 290px;
		margin-bottom: 5px;

		border: solid 2px #ffffff;

		img {
			transform: translate(10px, -10px);
		}
	}
}

.pagination {
	list-style: none;
	width: 222px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;

	a {
		color: #ffffff;
		font-size: 21px;
		letter-spacing: 0.2em;
		text-decoration: none;
	}

	a:hover {
		color: #1e2c59;
	}

	li:not(:last-child)::after {
		content: "-";
	}
}

//Главная - Контакты

.contacts {
	max-width: 1083px;
	margin: 0 auto;

	&__heading {
		margin-bottom: 16px;

		color: #ffffff;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}
}

.location {
	width: 100%;
	height: 42px;
	margin: 0 auto;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 20px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.37);

	&__option {
		color: #000000;
	}
}

// Главная - Контакты Москвы

.moscow {

	&__heading {
		margin-top: 36px;
		margin-bottom: 20px;

		color: #ffffff;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		max-width: 983px;
		margin: 0 auto;
	}

	&__flex {
		margin-bottom: 27px;
		display: flex;
		justify-content: space-between;
	}

	h3,
	p,
	p a {
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;
		color: #ffffff;
		text-decoration: none;
	}

	a:hover {
		color: #7485BA;
	}

	h3, p {
		color: #7485BA;
	}

	&__address-phones {
		width: 450px;
	}

	&__emails {
		width: 385px;
	}

	&__rechnoi,
	&__podolsk {
		width: 406px;
		margin: 0 auto;
		text-align: center;

		p {
			color: #ffffff;
		}
	}

	&__rechnoi {
		margin-bottom: 50px;
	}

	&__podolsk {
		margin-bottom: 35px;
	}

	&__map {
		position: relative;

		img {
			display: block;
			margin: 0 auto;
			max-width: 1440px;
			width: 100%;
		}

		&__gps {
			width: 478px;
			position: absolute;
			bottom: 0px;
			left: calc(100% / 2 - 239px);
			padding: 21px 46px;

			background-color: #000927;
			color: #ffffff;
			font-size: 20px;
			line-height: 28px;
			text-align: center;

			cursor: pointer;
		}
	}

}

.margin-30 {
	margin-bottom: 30px;
}


// О компании

.about {
	max-width: 1180px;
	margin: 0 auto;

	&__heading {
		margin-top: 80px;
		margin-bottom: 80px;

		color: #ffffff;
		font-size: 40px;
		line-height: 42px;
		font-weight: 400;
		text-align: center;
	}

	&__img {
		max-width: 1111px;
		margin: 0 auto;
		margin-bottom: 34px;
		position: relative;
	}

	&__button-download {
		width: 318px;
		height: 61px;
		position: absolute;
		bottom: 19px;
		left: 397px;

		background: rgba(246, 243, 255, 0.5);
		border: 2px solid rgba(0, 9, 39, 0.5);
		border-radius: 5px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: Roboto;
		font-size: 20px;
		line-height: 28px;
		color: rgba(0, 0, 0, 0.5);

		cursor: pointer;

	}

	&__text {
		margin-bottom: 35px;

		color: #ffffff;
		font-size: 18px;
		line-height: 28px;
		text-align: justify;
	}

	&__button-more {
		width: 143px;
		margin: 0 auto;

		font-family: 'Roboto', Arial, sans-serif;
		font-size: 20px;
		line-height: 28px;
		color: #7485BA;

		display: block;

		cursor: pointer;
		border: none;
		background: none;
	}

	&__button-more:hover {
		color: #ffffff;
	}

	&__appear {
		display: none;
	}
}

.about-map {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 68px;

	text-align: center;

	&__img {
		width: 100%;
		margin-bottom: 55px;
	}

	&__input {
		width: 500px;
		height: 60px;
		padding-left: 16px;
		padding-top: 42px;
		padding-bottom: 30px;

		background-color: transparent;
		border: 2px solid #F6F3FF;
		border-radius: 5px;

		font-family: 'Roboto', Arial, sans-serif;
		color: rgba(246, 243, 255, 0.7);
		font-size: 22px;
		line-height: 28px;
	}

	&__button {
		width: 300px;
		height: 70px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 102px;

		display: block;

		background: #F6F3FF;
		border-radius: 5px;
		border: none;

		font-family: 'Roboto', Arial, sans-serif;
		color: #000927;
		font-size: 22px;
		line-height: 35px;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
  }

  .footer-secondary {

	&__line {
		margin: auto;
		margin-bottom: 40px;
		background-color: #ACADBE;
		border: none;
		height: 1px;
		width: 685px;
		
		
	}
	&__map{
		color: #ACADBE;
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__text {
		margin: auto;
		color: #7B7E93;
		text-align: center;
		font-size: 24px;
		max-width: 1000px;
	}
}

// Каталоги

.catalog{

	&__heading {
		
		margin: 30px;
		margin-top: 200px;
		color: #ffffff;
		text-align: center;
		font-weight: 400;
		
}

	&__filter {
		width: 1000px;
		margin:auto;
		
		select {
			display: block;
			width: inherit;
			height: 35px;
			font-size: 20px;
			color:grey;
			font-family: Roboto;
			border: none;
			padding-left: 10px;
		}
	}

	&__info-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 60px;

	}
}

.products {

	margin:  50px 200px 50px 200px;

	&__heading {
		margin-top: 60px;
		margin-left: 120px;
		margin-bottom: 30px;
		font-size: 36px;
		font-weight: 400;
		color: #ffffff;
	}
	&__list {
		margin-left: 100px;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&__item {
			font-size: 18px;
			color: #ffffff;
			margin-left: 50px;
			margin-top: -25px;
			margin-bottom: 20px;

		}
	}
}
.bordered {

	width: 205px;
	height: 205px;
	border: solid #ffffff 2px;
	margin: 40px;

	&__img{
		transform: translate(10px, -10px);
	}
}

.info {
	margin-bottom: 80px;

	&__topics {
		margin-right: 30px;
		margin-top: 50px;

		button {
			font: Roboto;
			font-weight: 400;
			margin-bottom: 60px;
			border: none;
			font-size: 20px;
			color: #ccc8d6;
			background: rgba(255, 255, 255, 0.0);

			&:hover {
			
				text-decoration: underline;
			}
		}
	}

	&__divider {
		min-width: 120px; 
		min-height: 993px;
	}

	&__description {
		max-width: 600px;
		color: #ccc8d6;
		margin-left: 90px;
		margin-top: 40px;
		
		h3 {
			font-size: 18px;
			font-weight: 600;
			color:white;
			margin-bottom: 30px;
	}
		p { font-size: 16px;
			text-indent: 25px;
			margin-bottom: 20px;}
		
		ul, ol {
			list-style-position: inside;
			font-size: 16px;
			text-indent: 25px;
			margin-bottom: 20px;
			li {margin-top: 10px;}}

		
	}
	
		
	}


.footer-secondary {

	&__line {
		margin: auto;
		margin-bottom: 40px;
		background-color: #ACADBE;
		border: none;
		height: 1px;
		width: 685px;
		
		
	}
	&__map{
		color: #ACADBE;
		text-align: center;
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__text {
		margin: auto;
		color: #7B7E93;
		text-align: center;
		font-size: 18px;
		max-width: 1000px;
	}
}

// где купить

.where-buy {

	&__info {
		width: 727px;
		margin: 0 auto;
	}

	&__heading {
		font-size: 36px;
		line-height: 42px;
		font-weight: 400;
		color: #ffffff;
		margin: 32px 0 60px;
		text-align: center;
	}

	&__map {
		position: relative;
		margin-bottom: 115px;

		&__img {
			display: block;
			margin: 0 auto;
			max-width: 1440px;
			width: 100%;
		}

		&__gps {
			width: 478px;
			position: absolute;
			bottom: 0;
			left: calc(100% / 2 - 239px);
			padding: 29px 46px;

			background-color: #000927;
			color: #ffffff;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			text-decoration: none;
		}
	}
}

.city-select {
	width: 100%;
	height: 71px;
	margin-bottom: 56px;

	font-size: 28px;
	line-height: 32px;
	color: #D7D2E5;
	border: 4px solid #000000;
	border-radius: 5px;

	&__option {
		color: #000000;
		font-size: 20px;
	}
}

// товар

.floorwood-arte {
	&__heading {
		margin: 29px 0 54px;

		font-size: 36px;
		line-height: 42px;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
	}

	&__info {
		max-width: 1192px;
		margin: 0 auto 45px;
		display: flex;

		.gallery {
			width: 520px;
			height: 321px;
			margin-right: 32px;
			position: relative;

			// border: 2px solid #ffffff;

			&__button {
				width: 59px;
				height: 51px;
				position: absolute;
				top: 134px;

				border: none;
				cursor: pointer;
				background-color: rgba(196, 196, 196, 0.4);

				&__back {
					left: 0;
				}

				&__forward {
					right: 0;
				}
			}

			&__img {
				
			}
		}

		.nav {
			margin-right: 41px;
			list-style: none;

			&__item {

				&__link {
					font-family: 'Roboto', Arial, sans-serif;
					font-size: 30px;
					color: #ffffff;
					line-height: 35px;
					text-decoration: none;
				}

				&__link:hover {
					text-decoration: underline;
				}
			}
		}

		.description {
			max-width: 319px;
			padding-left: 23px;

			color: #ffffff;

			border-left: 2px solid #ffffff;
		}
	}

	&__products {

	}
}

// где купить

.where-buy {

	&__info {
		width: 727px;
		margin: 0 auto;
	}

	&__heading {
		font-size: 36px;
		line-height: 42px;
		font-weight: 400;
		color: #ffffff;
		margin: 32px 0 60px;
		text-align: center;
	}

	&__map {
		position: relative;
		margin-bottom: 115px;

		&__img {
			display: block;
			margin: 0 auto;
			max-width: 1440px;
			width: 100%;
		}

		&__gps {
			width: 478px;
			position: absolute;
			bottom: 0;
			left: calc(100% / 2 - 239px);
			padding: 29px 46px;

			background-color: #000927;
			color: #ffffff;
			font-size: 20px;
			line-height: 28px;
			text-align: center;
			text-decoration: none;
		}
	}
}

.city-select {
	width: 100%;
	height: 60px;
	margin-bottom: 56px;
	padding-left: 10px;
	font-size: 22px;
	line-height: 32px;
	color: #b1acc0;
	border: 4px solid #000000;
	border-radius: 5px;

	&__option {
		color: #000000;
		font-size: 20px;
	}
}

// товар

.item {
	&__heading {
		margin: 29px 0 54px;

		font-size: 36px;
		line-height: 42px;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
	}

	&__info {
		max-width: 1192px;
		margin: 0 auto 45px;
		display: flex;

		.gallery {
			width: 520px;
			height: 321px;
			margin-right: 32px;

			border: 2px solid #ffffff;
			
			&__wrapper {
				position: relative;
				transform: translate(16px, -20px);
			}

			&__img {
				width: 100%;
			}

			&__button {
				width: 59px;
				height: 51px;
				position: absolute;
				top: 134px;

				border: none;
				cursor: pointer;
				background-color: rgba(196, 196, 196, 0.4);

				&__back {
					left: 0;
				}

				&__forward {
					right: 0;
				}
			}
		}

		.nav {
			margin-right: 41px;
			list-style: none;

			&__item {

				&__link {
					font-family: 'Roboto', Arial, sans-serif;
					font-size: 26px;
					color: #ffffff;
					line-height: 35px;
					text-decoration: none;
				}

				&__link:hover {
					text-decoration: underline;
				}
			}
		}

		.description {
			max-width: 319px;
			padding-left: 23px;

			color: #ffffff;

			border-left: 2px solid #ffffff;
		}
	}

	&__line {
		background-color: #ffffff;
		margin: 0 auto;
		border: none;
		width: 692px;
		height: 1px;
	}

	&__products {
		margin-top: 89px;
	}

	&__other {

	}
}

.products {
	list-style: none;
	margin-left: 128px;
	margin-bottom: 83px;

	&__item {
		width: 556px;
		height: 501px;
		border: 2px solid #ffffff;
		
		a {text-decoration: none;}

		&__wrapper-desc {
			margin: 20px 0 11px 16px;
			display: flex;
		}

		&__img {
			border: 2px solid #ffffff;
			margin-right: 20px;

			img {
				transform: translate(8px, -9px);
			}
		}

		&__info {
			width: 245px;

			.info {
				&__heading {
					margin-bottom: 30px;

					color: #ffffff;
					font-size: 20px;
					line-height: 23px;
					font-weight: 400;
				}

				&__text {
					margin-bottom: 30px;

					color: #ffffff;
					font-size: 20px;
					line-height: 23px;
				}

				&__colors {
					display: flex;

					list-style: none;

					&__item {
						width: 27px;
						height: 23px;
						margin-right: 16px;
					}

					&__green {
						background-color: #91AB65;
					}

					&__blue {
						background-color: #6596AB;
					}

					&__purple {
						background-color: #8C65AB;
					}

					&__red {
						background-color: #AB6565;
					}

					&__lilac {
						background-color: #7365AB;
					}
				}
			}
		}

		&__link {
			margin-left: 24px;
			display: block;

			font-size: 20px;
			line-height: 23px;
			color: #ffffff;
		}
	}

	&__wrapper-buttons {
		margin: 68px 44px 38px 46px;
		display: flex;
		justify-content: space-between;

		button {
			width: 194px;
			height: 39px;

			font-size: 15px;
			line-height: 17px;
			border: 1px solid #000000;

			cursor: pointer;
		}
	}
}

.other {
	&__heading {
		color: #ffffff;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__list {
		max-width: 1164px;
		margin: 0 auto;
		margin-top: 95px;
		margin-bottom: 170px;

		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	&__item {
		width: 485px;
		border: 1px solid #ffffff;

		.item {
			&__heading {
				margin-top: 19px;
				color: #ffffff;
				font-weight: 400;
				font-size: 21px;
				text-align: center;
				letter-spacing: 0.1em;
			}

			&__img {
				margin: 17px auto;
				width: 432px;
				height: 156px;
			}

			&__text {
				width: 360px;
				margin-left: 43px;
				margin-bottom: 26px;

				font-size: 19px;
				color: #ffffff;
				letter-spacing: 0.05em;
			}

			&__text:last-child {
				margin-bottom: 11px;
			}
		}
	}
}