*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000927;

	font-family: 'Roboto', Arial, sans-serif;
}

.menu {

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	a {
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
	}
}

.logo {
	margin: 20px 90px 30px 60px;
	height: 90px;
	width: 90px;
}

.nav {
	
	font-family: 'Roboto Condensed', Arial, sans-serif;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		list-style: none;
	}

}

.nav__list li {
	margin-right: 70px;
	white-space: nowrap;
	
}
.phones {
	margin-left: auto;
	margin-right: 150px;
	white-space: nowrap;
	
	a {
		display: block;
	}
}
.slider {
	width: 1085px;

	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 46px;
}

.categories {
	height: 72px;

	display: flex;
	align-items: center;

	background-color: #F6F3FF;

	&__list {
		width: 1109px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;

		list-style: none;

		a {
			color: #222831;
			font-size: 18px;
			text-decoration: none;
		}

		a::after {
			content: "";

			width: 8px;
			height: 8px;
			margin-left: 4px;

			display: inline-block;

			background: url(img/nav-arrow.svg);
		}
	}
}

.catalogs {
	margin: 0 100px;
	color: #ffffff;
	
	&__heading {
		margin-top: 29px;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		
		max-width: 1040px;
		margin-top: 80px;
		align-items: center;
		justify-content: space-between;
	}

	&__p {
		line-height: 30px;
		margin-top: 5px;
	}
}

.balterio__wrapper {margin-top: 30px;}

.figure__stroi {
	background-image: url('img/catalog1.svg');
	width: 365px;
	height: 305px;
	

	&__heading {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0 0 10px;
	}

	&__number{
		font-family: Saira;
		font-size: 144px;
		margin: 0;
		
		margin-left: 30px;
		color: #E7DEFF;
		line-height: 160px;

	}
	&__text {
		color: #E7DEFF;
		font-size: 24px;
		margin-top: -15px;
		margin-left: 50px;

	}
}

.stroi{

	&__text-wrapper {
		margin-left: 55px;
		max-width: 630px;
		}
	
}

.balterio__text{
	max-width: 730px;
	margin-left: auto;
}
.figure__balterio{
	background-image: url('img/catalog2.svg');
	width: 285px;
	height: 310px;
	margin-left: 55px;


	&__heading {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0 0 10px;
	}

	&__number{
		font-family: Saira;
		font-size: 144px;
		margin: 0;
		
		margin-left: -33px;
		color: #E7DEFF;
		line-height: 160px;
	}
	&__text {
		color: #E7DEFF;
		font-size: 24px;
		margin-top: -15px;
		margin-left: 70px;

	}

}

.news {
	max-width: 1096px;
	margin: 0 auto;
	margin-bottom: 65px;

	color: #ffffff;

	&__heading {
		margin-top: 33px;
		margin-bottom: 32px;

		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}

	&__list {
		list-style: none;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 306px;
		margin-bottom: 109px;

		p {
			font-size: 21px;
			line-height: 25px;
			letter-spacing: 0.2em;
			color: #ffffff;
		}
		
		a {
			font-size: 21px;
			line-height: 25px;
			letter-spacing: 0.2em;
			color: #1e2c59;
			text-decoration: none;
		}

		a:hover {
			color: #ffffff;
		}
	}

	&__item:nth-last-child(-n+3) {
		margin-bottom: 65px;
	}

	.bordered {
		width: 290px;
		height: 290px;
		margin-bottom: 5px;

		border: solid 2px #ffffff;

		img {
			transform: translate(10px, -10px);
		}
	}
}

.pagination {
	list-style: none;
	width: 222px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;

	a {
		color: #ffffff;
		font-size: 21px;
		letter-spacing: 0.2em;
		text-decoration: none;
	}

	a:hover {
		color: #1e2c59;
	}

	li:not(:last-child)::after {
		content: "-";
	}
}

.contacts {
	max-width: 1083px;
	margin: 0 auto;

	&__heading {
		margin-bottom: 16px;

		color: #ffffff;
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
	}
}

.location {
	width: 100%;
	height: 42px;
	margin: 0 auto;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.37);

	&__option {
		color: #000000;
	}
}

.moscow {


	&__heading {
		margin-top: 36px;
		margin-bottom: 20px;

		color: #ffffff;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrapper {
		max-width: 983px;
		margin: 0 auto;
	}

	&__flex {
		margin-bottom: 27px;
		display: flex;
		justify-content: space-between;
	}

	h3,
	p,
	p a {
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;
		color: #ffffff;
		text-decoration: none;
	}

	a:hover {
		color: #7485BA;
	}

	h3, p {
		color: #7485BA;
	}

	&__address-phones {
		width: 450px;
	}

	&__emails {
		width: 385px;
	}

	&__rechnoi,
	&__podolsk {
		width: 406px;
		margin: 0 auto;
		text-align: center;

		p {
			color: #ffffff;
		}
	}

	&__rechnoi {
		margin-bottom: 50px;
	}

	&__podolsk {
		margin-bottom: 35px;
	}

	&__map {
		position: relative;

		img {
			display: block;
			margin: 0 auto;
			max-width: 1440px;
			width: 100%;
		}

		&__gps {
			width: 478px;
			position: absolute;
			bottom: 0px;
			left: calc(100% / 2 - 239px);
			padding: 21px 46px;

			background-color: #000927;
			color: #ffffff;
			font-size: 24px;
			line-height: 28px;
			text-align: center;

			cursor: pointer;
		}
	}

}

.margin-30 {
	margin-bottom: 30px;
}
